@import "includes/fonts";



/* Colors */

$dark-grey: #454545;
$pink: #d984bd;
$grey: #666;



/* General styling */

body {
	background-color: #FCFCF9;
	margin: 0;
	color: $dark-grey;
	font-size: 16px;
	font-family: Georgia, serif;
	background: radial-gradient(center center, 50% 70%, #FCFCF9 70%, #F1F1EA);
	background: -webkit-radial-gradient(center center, 50% 70%, #FCFCF9 70%, #F1F1EA);
	background: -o-radial-gradient(center center, 50% 70%, #FCFCF9 70%, #F1F1EA);
	background: -ms-radial-gradient(center center, 50% 70%, #FCFCF9 70%, #F1F1EA);
	background-attachment: fixed;

	@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
		font-size: 0.75em;
	}
}



/* Page elements */

#page-wrapper {
	a {
		text-decoration: none;
		color: $pink;

		&:hover {
			text-decoration: underline;
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
	}
}



/* General layout */

.section {
	margin: 0 auto;
	max-width: 1938px;
}



/* Specific layout */

#page-wrapper {
	padding: 24px;

	@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
		padding: 8px;
	}
}

#header {
	#name-and-slogan, .region-header {
		max-width: 544px;
		margin: 0 auto;
	}

	#site-name {
		font-size: 2.5em;
		margin: 0;
		position: relative;
		text-align: center;
		font-family: "LeagueGothicRegular", impact, sans-serif;	
		font-weight: normal;
		text-transform: lowercase;
		
		a {
			color: $dark-grey;

			&:hover {
				text-decoration: none;
			}
		}
	}

	select.tinynav {
		display: none;
		width: 100%;
		margin: 8px 0;

		@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
			display: block;
		}
	}

	ul.menu {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;

		li {
			list-style: none;
			font-size: 0.9em;
			display: inline-block;
			text-align: center;
			padding: 8px 10px;

			a {
				transition: 0.3s ease;
				-moz-transition: 0.3s ease;
				-webkit-transition: 0.3s ease;
				-o-transition: 0.3s ease;

				color: $grey;

				&:hover {
					color: $pink;
					text-decoration: none;
				}
				
				&.active {
					color: $pink;	
				}
			}
		}

		@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
			display: none;
		}
	}
}

#breadcrumb {
	display: none;
}

#main {
	margin-top: 3em;

	@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
		margin-top: 1em;
	}	

	#page-title, #user-login, .profile, .tabs {
		max-width: 544px;
		margin-left: auto;
		margin-right: auto;
	}

	.node h2, #page-title {
		font-family: 'SortsMillGoudyItalic', Georgia, serif;
		font-size: 1.4em;
		font-weight: normal;
		width: 100%;
		display: block;
		margin-top: 0.8em;
		margin-bottom: 0.8em;
		text-align: center;

		a {
			color: $dark-grey;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.node {
		> .content {

			ul {
				display: block;
				padding-left: 0;

				> li {
					margin-left: 1.2em;
				}
			}

			.field-item {
				> p, > ol, >ul, > blockquote {
					max-width: 544px;
					margin-left: auto;
					margin-right: auto;
				}
			}

			.field-name-field-meta ul {
				background-color: #fff;
				padding: 0.75em;
				box-sizing: border-box;
				border: 1px solid #efefef;
				-moz-box-shadow: 0px 0px 10px #eee;
				-webkit-box-shadow: 0px 0px 10px #eee;
				-ms-box-shadow: 0px 0px 10px #eee;
				-o-box-shadow: 0px 0px 10px #eee;
				box-shadow: 0px 0px 10px #eee;
				list-style-type: none;
				font-family: 'SortsMillGoudyItalic', Georgia, serif;

				li {
					margin-left: 0;
				}
			}
		}

		.submitted, .links, #disqus_thread {
			max-width: 544px;
			margin-left: auto;
			margin-right: auto;
		}

		.links {
			display: block;
		}
	}

	.view-blog {
		text-align: center;

		.views-row {
			display: inline-block;
			margin: 0.5em;

			max-width: 320px;
			background-color: #fff;
			padding: 0.75em 0.75em 0.25em 0.75em;
			box-sizing: border-box;
			border: 1px solid #efefef;
			width: 100%;
			-moz-transition: -moz-transform 0.3s ease;
			-webkit-transition: -webkit-transform 0.3s ease;
			-o-transition: -o-transform 0.3s ease;
			transition: transform 0.3s ease;
			-moz-box-shadow: 0px 0px 10px #eee;
			-webkit-box-shadow: 0px 0px 10px #eee;
			-ms-box-shadow: 0px 0px 10px #eee;
			-o-box-shadow: 0px 0px 10px #eee;
			box-shadow: 0px 0px 10px #eee;

			@media screen and (max-width: 360px), screen and (max-device-width: 480px) {
				max-width: 100%;
				margin: 0.25em 0;
				padding: 0.25em 0.25em 0.08em 0.25em;
			}

			.views-field-field-cover-photo {
				img {
					width: 100%;
					height: 100%;
				}
			}

			.views-field-title a {
				font-family: 'SortsMillGoudyItalic', Georgia, serif;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

#footer {
	max-width: 544px;
	margin: 0 auto;
	text-align: center;
	font-size: 0.9em;
	margin-top: 3em;
	color: $grey;

	#social-media {
		margin-bottom: 0.5em;

		img {
			width: 32px;
			height: 32px;
		}
	}

	@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
		margin-top: 1em;
	}

	#watermark {
		display: block;
		font-size: 0.8em;
		text-align: center;
		margin-top: 8px;
		
		img {
			vertical-align: bottom;
			margin: 0 3px;
			width: 43px;
			height: 30px;
		}

		&:hover {
			text-decoration: none;
		}
	}
}