/* Fonts, in order of appearance */
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.eot");
  src: url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.woff") format("woff"), url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.ttf") format("truetype"), url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SortsMillGoudyItalic';
  src: url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.eot");
  src: url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.woff") format("woff"), url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.ttf") format("truetype"), url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.svg#SortsMillGoudyItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Colors */
/* General styling */
body {
  background-color: #FCFCF9;
  margin: 0;
  color: #454545;
  font-size: 16px;
  font-family: Georgia, serif;
  background: radial-gradient(center center, 50% 70%, #fcfcf9 70%, #f1f1ea);
  background: -webkit-radial-gradient(center center, 50% 70%, #fcfcf9 70%, #f1f1ea);
  background: -o-radial-gradient(center center, 50% 70%, #fcfcf9 70%, #f1f1ea);
  background: -ms-radial-gradient(center center, 50% 70%, #fcfcf9 70%, #f1f1ea);
  background-attachment: fixed; }
  @media screen and (max-width: 580px), screen and (max-device-width: 480px) {
    body {
      font-size: 0.75em; } }

/* Page elements */
#page-wrapper a {
  text-decoration: none;
  color: #d984bd; }
  #page-wrapper a:hover {
    text-decoration: underline;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

/* General layout */
.section {
  margin: 0 auto; }

/* Specific layout */
#page-wrapper {
  padding: 24px 0; }
  @media screen and (max-width: 580px), screen and (max-device-width: 480px) {
    #page-wrapper {
      padding: 8px 0; } }

#header #name-and-slogan, #header .region-header {
  max-width: 544px;
  margin: 0 auto; }
#header #site-name {
  font-size: 2.5em;
  margin: 0;
  position: relative;
  text-align: center;
  font-family: "LeagueGothicRegular", impact, sans-serif;
  font-weight: normal;
  text-transform: lowercase; }
  #header #site-name a {
    color: #454545; }
    #header #site-name a:hover {
      text-decoration: none; }
#header select.tinynav {
  display: none;
  width: 100%;
  margin: 8px 0; }
  @media screen and (max-width: 580px), screen and (max-device-width: 480px) {
    #header select.tinynav {
      display: block; } }
#header ul.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none; }
  #header ul.menu li {
    list-style: none;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    padding: 8px 10px; }
    #header ul.menu li a {
      transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      color: #666666; }
      #header ul.menu li a:hover {
        color: #d984bd;
        text-decoration: none; }
      #header ul.menu li a.active {
        color: #d984bd; }
  @media screen and (max-width: 580px), screen and (max-device-width: 480px) {
    #header ul.menu {
      display: none; } }

#breadcrumb {
  display: none; }

#main {
  margin-top: 3em; }
  @media screen and (max-width: 580px), screen and (max-device-width: 480px) {
    #main {
      margin-top: 1em; } }
  #main #page-title, #main #user-login, #main .profile, #main .tabs {
    max-width: 544px;
    margin-left: auto;
    margin-right: auto; }
  #main .node h2, #main #page-title {
    font-family: 'SortsMillGoudyItalic', Georgia, serif;
    font-size: 1.4em;
    font-weight: normal;
    width: 100%;
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    text-align: center; }
    #main .node h2 a, #main #page-title a {
      color: #454545; }
      #main .node h2 a:hover, #main #page-title a:hover {
        text-decoration: none; }
  #main .node > .content ul {
    display: block;
    padding-left: 0; }
    #main .node > .content ul > li {
      margin-left: 1.2em; }
  #main .node > .content .field-item > p, #main .node > .content .field-item > ol, #main .node > .content .field-item > ul, #main .node > .content .field-item > blockquote {
    max-width: 544px;
    margin-left: auto;
    margin-right: auto; }
  #main .node > .content .field-name-field-meta ul {
    background-color: #fff;
    padding: 0.75em;
    box-sizing: border-box;
    border: 1px solid #efefef;
    -moz-box-shadow: 0px 0px 10px #eee;
    -webkit-box-shadow: 0px 0px 10px #eee;
    -ms-box-shadow: 0px 0px 10px #eee;
    -o-box-shadow: 0px 0px 10px #eee;
    box-shadow: 0px 0px 10px #eee;
    list-style-type: none;
    font-family: 'SortsMillGoudyItalic', Georgia, serif; }
    #main .node > .content .field-name-field-meta ul li {
      margin-left: 0; }
  #main .node .submitted, #main .node .links, #main .node #disqus_thread {
    max-width: 544px;
    margin-left: auto;
    margin-right: auto; }
  #main .node .links {
    display: block; }
  #main .view-blog {
    text-align: center; }
    #main .view-blog .views-row {
      display: inline-block;
      margin: 0.5em;
      max-width: 320px;
      background-color: #fff;
      padding: 0.75em 0.75em 0.25em 0.75em;
      box-sizing: border-box;
      border: 1px solid #efefef;
      width: 100%;
      -moz-transition: -moz-transform 0.3s ease;
      -webkit-transition: -webkit-transform 0.3s ease;
      -o-transition: -o-transform 0.3s ease;
      transition: transform 0.3s ease;
      -moz-box-shadow: 0px 0px 10px #eee;
      -webkit-box-shadow: 0px 0px 10px #eee;
      -ms-box-shadow: 0px 0px 10px #eee;
      -o-box-shadow: 0px 0px 10px #eee;
      box-shadow: 0px 0px 10px #eee; }
      @media screen and (max-width: 360px), screen and (max-device-width: 480px) {
        #main .view-blog .views-row {
          max-width: 100%;
          margin: 0.25em 0;
          padding: 0.25em 0.25em 0.08em 0.25em; } }
      #main .view-blog .views-row .views-field-field-cover-photo img {
        width: 100%;
        height: 100%; }
      #main .view-blog .views-row .views-field-title a {
        font-family: 'SortsMillGoudyItalic', Georgia, serif; }
        #main .view-blog .views-row .views-field-title a:hover {
          text-decoration: none; }

#footer {
  max-width: 544px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9em;
  margin-top: 3em;
  color: #666666; }
  #footer #social-media {
    margin-bottom: 0.5em; }
    #footer #social-media img {
      width: 32px;
      height: 32px; }
  @media screen and (max-width: 580px), screen and (max-device-width: 480px) {
    #footer {
      margin-top: 1em; } }
  #footer #watermark {
    display: block;
    font-size: 0.8em;
    text-align: center;
    margin-top: 8px; }
    #footer #watermark img {
      vertical-align: bottom;
      margin: 0 3px;
      width: 43px;
      height: 30px; }
    #footer #watermark:hover {
      text-decoration: none; }
