            <h1>Photography by Derek McBurney</h1>

            <div id="menu">
                <select class="menu">
                    {% assign categories = site.categories | sort %}
                    {% for category in categories %}
                      <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                    <option value="blog">Blog</option>
                </select>
                <ul class="menu">
                    {% assign categories = site.categories | sort %}
                    {% for category in categories %}
                    <li><a href="{{ category }}">{{ category }}</a></li>
                    {% endfor %}
                    <li><a href="blog" id="blog">Blog</a></li>
                </ul>
            </div>