            <h1>Photography by Derek McBurney</h1>

            <div id="menu">
                <select class="menu">
                    <option value="{{ site.photos-weddings.first.url }}" {% if page.collection == 'photos-weddings' %}selected="selected"{% endif %}>Weddings/Engagements</option>
                    <option value="{{ site.photos-people.first.url }}" {% if page.collection == 'photos-people' %}selected="selected"{% endif %}>People/Events</option>
                    <option value="{{ site.photos-places.first.url }}" {% if page.collection == 'photos-places' %}selected="selected"{% endif %}>Landscapes/Architecture</option>
                    <option value="/blog">Blog</option>
                </select>
                <ul class="menu">
                    <li><a href="{{ site.photos-weddings.first.url }}" {% if page.collection == 'photos-weddings' %}class="active"{% endif %}>Weddings/Engagements</a></li>
                    <li><a href="{{ site.photos-people.first.url }}" {% if page.collection == 'photos-people' %}class="active"{% endif %}>People/Events</a></li>
                    <li><a href="{{ site.photos-places.first.url }}" {% if page.collection == 'photos-places' %}class="active"{% endif %}>Landscapes/Architecture</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>