# Ignore OS, SASS, Bower and Node output
.DS_Store*
Thumbs.db
.sass-cache
assets/js/lib
node_modules
npm-debug.log

# Ignore Facebook app information
assets/php/facebook_app_id.php

# Ignore site specific information
assets/php/site_settings.php