# Ignore OS, SASS, Bower and Node output
.DS_Store*
Thumbs.db
.sass-cache
assets/js/lib
node_modules
npm-debug.log

# Ignore Facebook app information
assets/php/facebook_app_id.php

# Ignore site specific information
assets/php/site_settings.php

# Drupal .gitignore
# Ignore configuration files that may contain sensitive information.
blog/sites/*/settings*.php

# Ignore paths that contain user-generated content.
blog/.htaccess
blog/sites/*/files
blog/sites/*/private