<!DOCTYPE html>
<html lang="en">
<head>
	<title>Photography by Derek McBurney</title>
	<link href="assets/css/all.css" rel="stylesheet"/>
	<!--[if lt IE 8]>
	<link href="assets/css/ie7.css" rel="stylesheet"/>
	<![endif]-->
</head>
<body>
	<div class="container">
		<div class="frame">
			<h1>Photography by Derek McBurney</h1>
			
			<div id="photo-content"></div>

			<div id="side">
				<div id="aboutme" class="section">
					<span>I would love to work with you.</span>
					<p>
						Photography is a passion of mine - I constantly seek new moments to capture and challenges to undertake. There is beauty everywhere and I'm fortunate enough to be able to share it from my perspective. I would be humbled to help tell your story.
					</p>
				</div>
				<form id="contactme" class="section">
					<input type="text" placeholder="Your name"></input>
					<input type="text" placeholder="Your email address"></input>
					<textarea placeholder="The story you would like told"></textarea>
					<button>Send</button>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Templates -->
	<script id="photo-template" type="text/template">
		<div id="showcase" class="section">
			<div class="navigation" id="left"><a>&nbsp;</a></div>
			<div class="navigation" id="right"><a>&nbsp;</a></div> 
			<img src="assets/images/<%= file %>" alt="<%= alt %>" />
		</div>
		<div id="details" class="section">
			<h2><%= title %></h2>
			<p>
				<%= description %>
			</p>
		</div>
	</script>
	
	<!-- Javascripts -->
	<script type="text/javascript" src="assets/js/lib/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/underscore-1.4.0.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/backbone-0.9.2.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/modernizr.2.6.2.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/respond.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/jquery.placeholder.min.js"></script>
	
    <script type="text/javascript" src="assets/js/models/photo.js"></script>
    <script type="text/javascript" src="assets/js/collections/photos.js"></script>
    <script type="text/javascript" src="assets/js/views/photo.js"></script>
    <script type="text/javascript" src="assets/js/router.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
	
	<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>