a {
    color: $pink;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
    
    img {
        border: 0;
    }
}

body.blog {
    a {
        color: $blog-pink;
    }
}