---
layout: default
---
    <body class="blog no-js">
        <div class="container">
            <div class="frame">
                <h1>Photography by Derek McBurney</h1>

                <div id="menu">
                    <select class="menu">
                        <option value="/">Return to portfolio</option>
                        <option value="/blog/" {% if page.title == 'Blog' %}selected="selected"{% endif %}>Blog</option>
                        <option value="/blog/about-derek/" {% if page.title == 'About Derek' %}selected="selected"{% endif %}>About Derek</option>
                    </select>
                    <ul class="menu">
                        <li><a href="/">Return to portfolio</a></li>
                        <li><a href="/blog/" {% if page.title == 'Blog' %}class="active"{% endif %}>Blog</a></li>
                        <li><a href="/blog/about-derek/" {% if page.title == 'About Derek' %}class="active"{% endif %}>About Derek</a></li>
                    </ul>
                </div>

                {{ content }}

                <div id="footer">
                    <div id="social-media">
                        <a href="https://www.facebook.com/PhotographyByDerek" target="_blank"><img src="/images/facebook-icon.png" alt="photography by derek facebook page" /></a>
                        <a href="https://twitter.com/derekmcb" target="_blank"><img src="/images/twitter-icon.png" alt="derek's twitter page" /></a>
                        <a href="https://500px.com/derekmcb" target="_blank"><img src="/images/500px-icon.png" alt="derek's 500px page" /></a>
                    </div>
                    <p id="copyright">
                        &copy; {{ site.time | date: "%Y" }}, Derek McBurney. All photographs (except where noted otherwise) are copyright of Derek McBurney and can not be used without permission for any purpose. <a href="/">Get in touch with me to request a license to use my photography!</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
