<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
            <div class="frame">
                {% include header.html %}

                <div id="showcase" class="section">
                    {% if page.previous.url %}<a class="navigation" id="left" href="{{page.previous.url}}"><span></span></a>{% endif %}
                    {% if page.next.url %}<a class="navigation" id="right" href="{{page.next.url}}"><span></span></a>{% endif %}
                    <div id="focus">
                        <img src="/images/placeholder.png" style="background-image: url({{ page.photo }}); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ page.photo }}',sizingMethod="scale"); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ page.photo }}',sizingMethod="scale"); "/>
                    </div>
                </div>

                <div id="details" class="section">
                    <h2>
                        {{ page.title }}
                        <a href="//www.pinterest.com/pin/create/button/?url=http://photographybyderek.com{{ page.url }}&media=http://photographybyderek.com{{ page.photo }}&description={{ page.title }}" data-pin-do="buttonPin" data-pin-config="none" target="_blank"><img src="/images/pin_it_button.png" /></a>
                    </h2>
                    <p>
                        {{ content }}
                    </p>
                </div>

                {% include footer.html %}
            </div>
        </div>
    </body>

</html>
