#footer {
    max-width: 544px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9em;
    margin-top: 3em;
    color: $grey;

    #social-media {
        margin-bottom: 0.5em;

        img {
            width: 32px;
            height: 32px;
        }
    }
}
