@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.eot");
  src: url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.woff") format("woff"), url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.ttf") format("truetype"), url("../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SortsMillGoudyItalic';
  src: url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.eot");
  src: url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.woff") format("woff"), url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.ttf") format("truetype"), url("../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.svg#SortsMillGoudyItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  background: black url("../images/background.jpg") no-repeat center -1000px;
  -webkit-background-size: 2560px;
  color: #FFF;
  font-size: 14px;
  font-family: Georgia, serif; }

a {
  color: #ffa300;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

input, textarea, button {
  font-family: Georgia, serif;
  border-radius: 4px;
  border: 0 none;
  width: 99%;
  margin: 2px 0;
  font-size: 1em;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
  border: 2px solid transparent; }
  input.error, textarea.error, button.error {
    border: 2px solid #b42727; }

button {
  height: 28px; }

label.error {
  color: #b42727;
  width: 100%;
  text-align: right;
  display: none;
  font-size: 0.8em; }

textarea {
  height: 96px;
  overflow: auto; }

.placeholder, ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  color: #999; }

button {
  font-family: 'SortsMillGoudyItalic', Georgia, serif;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #4c4c4c;
  color: #FFFFFF;
  width: 100%;
  padding: 0;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease; }
  button:hover {
    background-color: #6c6c6c; }

h1 {
  font-family: "LeagueGothicRegular", impact, sans-serif;
  font-size: 2.5em;
  text-transform: lowercase;
  font-weight: normal;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1; }

h2, .section > span, form > span {
  font-family: 'SortsMillGoudyItalic', Georgia, serif;
  font-size: 1.4em;
  font-weight: normal;
  width: 100%;
  display: block;
  margin: 0.8em 0;
  text-align: center; }

.frame {
  padding: 8px; }

.section {
  max-width: 544px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#showcase {
  text-align: center;
  position: relative; }
  #showcase .navigation {
    height: 100%;
    width: 30%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease; }
    #showcase .navigation:hover {
      opacity: 1; }
    #showcase .navigation#left {
      left: 4; }
      #showcase .navigation#left a {
        float: left;
        left: -4px; }
    #showcase .navigation#right {
      right: 0; }
      #showcase .navigation#right a {
        float: right;
        right: -4px; }
    #showcase .navigation a {
      background-color: #4c4c4c;
      display: block;
      width: 50px;
      border-radius: 8px;
      position: absolute;
      margin-top: -25px;
      top: 50%;
      -moz-box-shadow: 0 0 16px #000;
      -webkit-box-shadow: 0 0 16px #000;
      box-shadow: 0 0 16px #000;
      transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      font-family: Georgia, serif;
      padding: 10px 0;
      text-transform: lowercase; }
  #showcase img {
    width: 100%;
    -moz-box-shadow: 0 0 16px #000;
    -webkit-box-shadow: 0 0 16px #000;
    box-shadow: 0 0 16px #000; }

/* Modernizr detects touch ability, so if touch, don't require a hover to show previous/next elements */
html.touch #showcase .navigation {
  opacity: 1; }

@media screen and (min-width: 592px) {
  body {
    font-size: 16px; }

  button {
    width: 176px; }

  .frame {
    padding: 24px; }

  .section {
    max-width: 560px; }

  #showcase {
    max-width: 1000px;
    width: 100%; }
    #showcase .navigation#left {
      left: -16px; }
    #showcase .navigation#right {
      right: -16px; }
    #showcase .navigation a {
      padding: 20px 0;
      width: 80px;
      margin-top: -80px; }

  #contactme {
    text-align: center; } }
@media screen and (min-width: 1400px) {
  h1 {
    text-align: left; }

  h2, .section > span, form > span {
    text-align: left; }

  .container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%; }

  .frame {
    display: table-cell;
    vertical-align: middle;
    max-width: 1884px;
    padding-top: 0; }

  #showcase {
    max-width: 1896px;
    display: inline-block;
    width: 75%;
    margin-right: 32px; }
    #showcase img {
      float: left; }

  #details {
    position: absolute;
    width: 22%;
    display: inline-block; }
    #details h2 {
      margin-top: 0; }

  .section {
    width: 100%; }

  #contactme {
    text-align: left;
    margin-bottom: 0; }

  #side {
    width: 22%;
    display: inline-block;
    vertical-align: bottom; } }
