$dark-grey: #222;
$grey: #4c4c4c;
$grey-highlight: #8c8c8c;
$orange: #ffa300;

@mixin drop-shadow {
	-moz-box-shadow: 0 0 16px #000;
	-webkit-box-shadow: 0 0 16px #000;
	box-shadow: 0 0 16px #000;	
}

@mixin easing {
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.eot');
    src: url('../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League-Gothic-fontfacekit/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SortsMillGoudyItalic';
    src: url('../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.eot');
    src: url('../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.woff') format('woff'),
         url('../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Sorts-Mill-Goudy-fontfacekit/GoudyStM-Italic-webfont.svg#SortsMillGoudyItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	background: #000 url("../images/background.jpg") no-repeat center -1000px;
	-webkit-background-size: 2560px;
	color: #FFF;
	font-size: 16px;
	font-family: Georgia, serif;
}

a {
	color: $orange;
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
	}
	
	img {
		border: 0;
	}
}

input, textarea, button {
	font-family: Georgia, serif;
	border-radius: 4px;
	border: 0 none;
	width: 99%;
	margin: 2px 0;
	font-size: 1em;
	padding: 2px;
	background-color: rgba(255,255,255,0.1);
	color: #FFF;
	border: 2px solid transparent;
	
	&.error {
		border: 2px solid $orange;
	}
}

label.error {
	color: $orange;
	width: 100%;
	text-align: right;
	display: none;
	font-size: 0.8em;
}

textarea {
	height: 96px;
	overflow: auto;
}

.placeholder, ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
    color: $grey-highlight;
}

button {
	font-family: 'SortsMillGoudyItalic', Georgia, serif;
	font-size: 1.2em;
	cursor: pointer;
	background-color: $grey;
	color: #FFFFFF;
	width: 100%;
	height: 28px;
	padding: 0;
	@include easing;
	
	&:hover {
		color: $orange;
	}
}

h1 {
	font-family: "LeagueGothicRegular", impact, sans-serif;	
	font-size: 2.5em;
	text-transform: lowercase;
	font-weight: normal;
	text-align: center;
	margin: 0;
	position: relative;
	z-index: 1;
}

h2, .section > span, form > span {
	font-family: 'SortsMillGoudyItalic', Georgia, serif;
	font-size: 1.4em;
	font-weight: normal;
	width: 100%;
	display: block;
	margin: 0.8em 0;
	text-align: center;
}

.frame {
	padding: 8px;
}

.section, #watermark {
	max-width: 544px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	select {
		display: none;
		width: 100%;
		margin: 8px 0;
		
		@media screen and (max-width: 564px) {
			display: inline;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		
		@media screen and (max-width: 564px) {
			display: none;
		}
		
		li {
			font-size: 0.8em;
			display: inline-block;
			text-align: center;
			padding: 8px 16px;
			cursor: pointer;
			color: $grey-highlight;
			@include easing;
			*display: inline;
			zoom: 1;
		
			&:hover {
				color: $orange;
			}
			
			&.active {
				color: $orange;	
			}
		}
	}
}

#showcase {
	text-align: center;
	position: relative;
	
	.navigation {
		height: 100%;
		width: 30%;
		position: absolute;
		cursor: pointer;
		background-image: url("../images/transparent.gif");
		
		&:hover {	
			a {
				opacity: 1;
				visibility: visible;
			}
		}
		
		&#left {
			left: 4;
			
			a {
				float: left;
				left: -4px;
			}
		}
		
		&#right {
			right: 0;
			
			a {
				float: right;
				right: -4px;
			}
		}
		
		a {
			background-color: $grey;
			width: 50px;
			border-radius: 8px;
			position: absolute;
			margin-top: -25px;
			top: 50%;
			@include drop-shadow;
			@include easing;
			font-family: Georgia, serif;
			padding: 10px 0;
			text-transform: lowercase;
			opacity: 0;
			display: block;
			visibility: hidden;
		}
	}

	img {
		width: 100%;
		background-color: #080808;
		background-size: cover;
		@include drop-shadow;
	}
}

/* Modernizr detects touch ability, so if touch, don't require a hover to show previous/next elements */
html.touch #showcase .navigation a {
	visibility: visible;
	opacity: 1;
}

#watermark {
	font-size: 0.8em;
	text-align: center;
	margin-top: 32px;
	
	a {
		color: $grey;
	}
	
	img {
		vertical-align: bottom;
		margin: 0 3px;
	}
}

@media screen and (min-width: 592px) {
	
	button {
		width: 176px;
	}
	
	.frame {
		padding: 24px;
	}
	
	.section, #watermark {
		max-width: 560px;
	}

	#showcase {
		max-width: 1000px;
		width: 100%;
		
		.navigation {
			&#left {
				left: -16px;
			}
			
			&#right {
				right: -16px;
			}
			
			a {
				padding: 20px 0;
				width: 80px;
				margin-top: -80px;
			}
		}
	}
	
	#contactme {
		text-align: center;
	}
}

@media screen and (min-width: 1400px) {

	h1 {
		text-align: left;
	}
	
	h2, .section > span, form > span {
		text-align: left;
	}
	
	.container {
		display:table;
		position:absolute;
		height: 100%;
		width: 100%;
	}
	
	.frame {
		display: table-cell;
		vertical-align: middle;
		max-width: 1884px;
		padding-top: 0;
	}
	
	#showcase {
		max-width: 1896px;
		display: inline-block;
		width: 75%;
		margin-right: 32px;
	
		img {
			float: left;
		}
	}

	#details {
		position: absolute;
		width: 22%;
		display: inline-block;
		
		h2 {
			margin-top: 0;
		}
	}
	
	.section {
		width: 100%;
	}
	
	#contactme {
		text-align: left;
		margin-bottom: 0;
	}
	
	#side {
		width: 22%;
		display: inline-block;
		vertical-align: bottom;
	}
	
	#menu ul, #watermark {
		max-width: none;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		text-align: left;
	}
	
	#menu ul li {
		padding-left: 0;
		padding-right: 32px;
	}
}