#watermark img {
  vertical-align: baseline; }

@media screen and (min-width: 1400px) {
  h1 {
    text-align: center; }

  h2, .section > span, form > span {
    text-align: center; }

  .container {
    display: inherit;
    position: static;
    height: auto;
    width: auto; }

  .frame {
    display: inherit;
    vertical-align: baseline;
    max-width: 100%;
    padding-top: 24px; }

  #showcase {
    max-width: 946px;
    display: inherit;
    width: 100%;
    margin-right: auto; }
    #showcase img {
      float: none; }

  #details {
    position: static;
    width: 560px;
    display: inherit; }
    #details h2 {
      margin-top: auto; }

  #contactme {
    text-align: center; }

  #side {
    width: 100%;
    display: inherit;
    vertical-align: baseline; }
    #side .section {
      margin-left: auto;
      margin-right: auto; }

  #footer {
    text-align: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto; }
    #footer #social-media {
      display: block;
      margin-right: 0; }

  #menu ul {
    margin: 0;
    text-align: center; }

  #menu ul li {
    padding-left: 16px;
    padding-right: 16px; } }
