@media screen and (min-width: 1400px) {

	h1 {
		text-align: center;
	}
	
	h2, .section > span, form > span {
		text-align: center;
	}

	.container {
		display: inherit;
		position: static;
		height: auto;
		width: auto;
	}
	
	.frame {
		display: inherit;
		vertical-align: baseline;
		max-width: 100%;
		padding-top: 16px;
	}
	
	#showcase {
		max-width: 1000px;
		display: inherit;
		width: 100%;
		margin-right: auto;
	
		img {
			float: none;
		}
	}

	#details {
		position: static;
		width: 560px;
		display: inherit;
		
		h2 {
			margin-top: auto;
		}
	}
	
	.section {
		width: 560px;
	}
	
	#contactme {
		text-align: center;
		margin-bottom: auto;
	}
	
	#side {
		width: 100%;
		display: inherit;
		vertical-align: baseline;
	}
}
