body {
	margin: 4px;
	background: url("../images/background.jpg") no-repeat center -1000px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Georgia, serif;
}

input, textarea, button {
	border-radius: 8px;
	border: 0 none;
	width: 100%;
	margin: 2px 0;
	font-size: 1em;
}

textarea {
	height: 96px;
}

button {
	background-color: #4c4c4c;
	color: #FFFFFF;
}

h1 {
	font-family: "League Gothic";	
	font-size: 2.5em;
	text-transform: lowercase;
	font-weight: normal;
	margin-bottom: 0;
}

h2, .section > span, form > span {
	font-family: "Goudy Old Style";
	font-size: 1.4em;
	font-weight: normal;
	font-style: italic;
	width: 100%;
	display: block;
	margin: 0.8em 0;
}

#showcase {
	text-align: center;

	img {
		max-width: 1000px;
		width: 100%;
	}
	
	#details {
		text-align: left;
	}
}

@media screen and (min-width: 592px) {
	body {
		margin: 16px;
	}
	
	#showcase {
		width: 100%;
		
		#details {
			width: 560px;
			margin: 0 auto;
		}
	}
	
	h1, .section {
		width: 560px;
		margin: 0 auto;
	}
	
	button {
		width: 176px;
	}
}