/* Specific layout */

#main {

	.node {
		> .content {

			ul {
				display: block;
				padding-left: 0;

				> li {
					margin-left: 1.2em;
				}
			}

			.field-item {
				> p, > ol, >ul, > blockquote {
					max-width: 544px;
					margin-left: auto;
					margin-right: auto;
				}
			}

			.field-name-field-meta ul {
				background-color: #fff;
				padding: 0.75em;
				box-sizing: border-box;
				border: 1px solid #efefef;
				-moz-box-shadow: 0px 0px 10px #eee;
				-webkit-box-shadow: 0px 0px 10px #eee;
				-ms-box-shadow: 0px 0px 10px #eee;
				-o-box-shadow: 0px 0px 10px #eee;
				box-shadow: 0px 0px 10px #eee;
				list-style-type: none;
				font-family: 'SortsMillGoudyItalic', Georgia, serif;

				li {
					margin-left: 0;
				}
			}
		}

		.submitted, .links, #disqus_thread {
			max-width: 544px;
			margin-left: auto;
			margin-right: auto;
		}

		.links {
			display: block;
		}
	}
}
