#main .node > .content div.pictures {
  max-width: 100%;
  text-align: center; }
  #main .node > .content div.pictures div.picture {
    max-width: 952px;
    width: 99.16667%;
    margin-left: 0.41667%;
    margin-right: 0.41667%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
    color: #aaa;
    font-size: 0.85em; }
    #main .node > .content div.pictures div.picture img.picture {
      background-color: #fff;
      padding: 0.75em;
      box-sizing: border-box;
      border: 1px solid #efefef;
      width: 100%;
      -moz-transition: -moz-transform 0.3s ease;
      -webkit-transition: -webkit-transform 0.3s ease;
      -o-transition: -o-transform 0.3s ease;
      transition: transform 0.3s ease;
      -moz-box-shadow: 0px 0px 10px #eee;
      -webkit-box-shadow: 0px 0px 10px #eee;
      -ms-box-shadow: 0px 0px 10px #eee;
      -o-box-shadow: 0px 0px 10px #eee;
      box-shadow: 0px 0px 10px #eee; }
      @media screen and (max-width: 480px), screen and (max-device-width: 480px) {
        #main .node > .content div.pictures div.picture img.picture {
          padding: 0.25em; } }
    #main .node > .content div.pictures div.picture a:hover img.picture {
      -moz-transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02); }
      @media screen and (max-width: 480px), screen and (max-device-width: 480px) {
        #main .node > .content div.pictures div.picture a:hover img.picture {
          -moz-transform: none;
          -webkit-transform: none;
          -o-transform: none;
          transform: none; } }
    #main .node > .content div.pictures div.picture p {
      margin: 0.5em auto;
      max-width: 435.36px; }
    #main .node > .content div.pictures div.picture ul {
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      display: inline; }
      #main .node > .content div.pictures div.picture ul li {
        display: inline;
        padding: 0 0.3em;
        margin-left: 0;
        font-size: 0.8235em; }
    #main .node > .content div.pictures div.picture img.pinit {
      vertical-align: middle; }
    #main .node > .content div.pictures div.picture.panorama {
      max-width: 1896px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    #main .node > .content div.pictures div.picture.vertical {
      max-width: 435.36px; }
  #main .node > .content div.pictures.count-2 div.picture {
    max-width: 472px;
    width: 49.16667%;
    margin-left: 0.41667%;
    margin-right: 0.41667%; }
  #main .node > .content div.pictures.count-3 div.picture {
    max-width: 312px;
    width: 32.5%;
    margin-left: 0.41667%;
    margin-right: 0.41667%; }
  #main .node > .content div.pictures.count-4 div.picture {
    max-width: 232px;
    width: 24.16667%;
    margin-left: 0.41667%;
    margin-right: 0.41667%; }
