div.pictures {
  max-width: 100%;
  text-align: center; }
  div.pictures div.picture {
    max-width: 952px;
    width: 99.16667%;
    margin-left: 0.41667%;
    margin-right: 0.41667%;
    display: inline-block;
    margin-bottom: 1em; }
    div.pictures div.picture img.picture {
      background-color: #fff;
      padding: 0.75em;
      box-sizing: border-box;
      border: 1px solid #efefef;
      width: 100%;
      -moz-transition: -moz-transform 0.3s ease;
      -webkit-transition: -webkit-transform 0.3s ease;
      -o-transition: -o-transform 0.3s ease;
      transition: transform 0.3s ease;
      -moz-box-shadow: 0px 0px 10px #eee;
      -webkit-box-shadow: 0px 0px 10px #eee;
      -ms-box-shadow: 0px 0px 10px #eee;
      -o-box-shadow: 0px 0px 10px #eee;
      box-shadow: 0px 0px 10px #eee; }
      @media screen and (max-width: 480px), screen and (max-device-width: 480px) {
        div.pictures div.picture img.picture {
          padding: 0.25em; } }
    div.pictures div.picture a:hover img.picture {
      -moz-transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02); }
      @media screen and (max-width: 480px), screen and (max-device-width: 480px) {
        div.pictures div.picture a:hover img.picture {
          -moz-transform: none;
          -webkit-transform: none;
          -o-transform: none;
          transform: none; } }
  div.pictures.count-1 div.picture.vertical {
    max-width: 480px; }
  div.pictures.count-2 div.picture {
    max-width: 472px;
    width: 49.16667%;
    margin-left: 0.41667%;
    margin-right: 0.41667%; }
  div.pictures.count-3 div.picture {
    max-width: 312px;
    width: 32.5%;
    margin-left: 0.41667%;
    margin-right: 0.41667%; }
  div.pictures.count-4 div.picture {
    max-width: 232px;
    width: 24.16667%;
    margin-left: 0.41667%;
    margin-right: 0.41667%; }
  div.pictures ul.metadata {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    display: inline; }
    div.pictures ul.metadata li {
      display: inline;
      padding: 0 0.3em;
      font-size: 0.7em;
      color: #aaa;
      margin-left: 0; }
  div.pictures img.pinit {
    vertical-align: middle; }
